<div class="home">
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>GestiUsers</h1>
            <p>La Manera más fácil de gestionar tus usuarios</p>
            <button (click)="openCreate()">Iniciar</button>
        </div>
    </main>


</div>

<footer>
    <p>Derechos reservados 2024</p>
</footer>